/* Channels.css */

.channels-container {
    position: fixed; /* Fix it to the left side of the screen */
    top: 0;
    left: 0;
    width: 20%; /* Occupies 20% of the screen width */
    height: 100vh; /* Full available height */
    border-right: 2px solid rgb(164, 161, 161); /* Adjusted to border-right for left alignment */
    background-color: #f1c9fb;
    overflow: hidden; /* Prevent scrolling on the container itself */
    padding: 10px;
    z-index: 1;
}

.channels-list {
    height: 50%;
    overflow-y: auto; /* Adds a vertical scrollbar if content overflows */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.direct-messages {
    position: fixed;
    top: 50%;
    overflow-y: auto; /* Adds a vertical scrollbar if content overflows */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.new-channel-button {
    align-self: flex-end;
    margin-top: auto;
}

.new-dm-button {
    align-self: flex-end;
    margin-top: auto;
}