services:
  backend:
    build: ./backend
    container_name: trans-backend
    volumes:
      - /app/node_modules
    env_file :
      - ./.env
    ports:
      - "3001:3000"
    depends_on:
      - database
    restart: always

  frontend:
    build: ./frontend
    container_name: trans-frontend
    volumes:
      - /app/node_modules
    env_file :
      - ./.env
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: always

  database:
    build: ./database
    container_name: trans-database
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file :
      - ./.env
    ports:
      - "5432:5432"
    restart: always

volumes:
  postgres_data: