/* AlertMessage.css */

.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.alert-box {
    background: rgb(227, 97, 193);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.alert-box p {
    margin-bottom: 20px;
    font-size: 16px;
}

.alert-box button {
    background-color: rgb(244, 228, 108);
    color: rgb(47, 231, 255);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.alert-box button:hover {
    background-color: #0056b3;
}
