/* Channels.css */

.channels-list {
    border: 2px solid black;
    padding: 10px;
    background-color: #f0f0f0;
    list-style: none;
    height: 100%;
    overflow-y: auto;
}

.channels-list li {
    margin-bottom: 10px;
}