/* Userlist.css */
.userlist-container {
    border: 2px solid black;
    padding: 10px;
    background-color: #f9f9f9;
    overflow-y: auto;
    height: 100%;
}

.userlist ul {
    list-style: none;
    padding: 0;
}

.userlist li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.friend-online {
    color: green;
}

.friend-offline {
    color: red;
}

.friend-ingame {
    color: yellow;
}

.friend-afk {
    color: orange;
}
