/* Global Styles */
.light {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	text-align: center;
	line-height: 1px;
	stroke: black;
    background-color: #ffffff;
}

.dark {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
	text-align: center;
	line-height: 1px;
	stroke: white;
    background-color: #000000;
}

button {
	left: 5;
	top: 5;
  }
