.messenger-container {
    position: fixed;
    top: 0;
    left: 20%;
    width: 60%;
    height: 100vh;
    background-color: rgb(253, 251, 147);
    overflow-y: auto;
    padding-bottom: 50px; /* Space for the input box */
    box-sizing: border-box;
}

.select-channel-message {
    text-align: center;
    margin-top: 50%;
    color: #888; /* Subtle color */
    font-size: 16px;
}

.message-list {
    flex-grow: 1; /* Takes up remaining space */
    overflow-y: auto; /* Makes message list scrollable */
    padding: 10px;
}

.messenger-input {
    position: absolute;
    bottom: 10;
    left: 50;
    right: 50;
    /* width: 90%; */
}

.messenger-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

