/* ChatInfo.css */

.chat-info-container {
    position: fixed; /* Fix to the right side of the screen */
    top: 0;
    right: 0;
    width: 20%; /* Occupies 20% of the screen width */
    height: 100vh; /* Full available height */
    padding: 10px;
    border-left: 2px solid rgb(164, 161, 161); /* Adds a border to separate it from the content */
    background-color: #c9f2ff;
    overflow-y: auto; /* Scrollable if content exceeds the height */
    z-index: 1;
}

.chat-info-container ul {
    list-style: none;
    padding: 0;
}

.chat-info-container li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}