/* Friends.css */
.friends-container {
    /* border: 2px solid black; */
    padding: 10px;
    overflow-y: auto;
    height: 100%;
}

.friends ul {
    list-style: none;
    padding: 0;
}

.friends li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.friend-online {
    color: green;
}

.friend-offline {
    color: red;
}

.friend-ingame {
    color: yellow;
}

.friend-afk {
    color: orange;
}
